.timeline-container {
  position: relative;
  width: 90%;
  height: 120px;
  padding: 16px;
  margin-top: 30em;
  margin-left: auto;
  margin-right: auto;
}

.timeline-line {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ccc;
  transform: translateY(-50%);
  z-index: 1;
}

.timeline-node {
  position: absolute; /* necessary for proportional placement */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.timeline-node .circle {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-node a {
  margin-top: 8px;
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-size: 12px;
}

.timeline-node a:hover {
  text-decoration: underline;
}
